.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-inline-size: 0;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  min-block-size: 2rem;
}

.title {
  all: unset;
  color: var(--section-header-text-color);
  font-weight: var(--font-bold);
}

.profileGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
  gap: 8px;
}

.empty {
  margin: 0;
  color: var(--body-text-color);
}

.loadMore {
  align-self: center;
}
